$color-primary-dark: #108352;
$color-primary-light: #fff;
$color-secondary-light: #14ef9d;
$color-tertiary-light: #ccc;
$font-primary: 'Courier Prime', monospace;
$font-secondary: 'Bangers', cursive;
